go 1.22.1

use (
	.
	./example/go-simple-extension
	./test/e2e/filters/custom_err_response
	./test/e2e/filters/helloworld
	./test/e2e/filters/http_body
	./test/e2e/filters/http_headers_modifier
	./test/e2e/filters/http_reroute
	./test/e2e/filters/metrics
	./test/e2e/filters/panic_filter
)
